.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

input {
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgba(199, 195, 195, 0.82);
  border-radius: 0 0 5px 5px;
  max-height: 140px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: auto;
}

.name {
  margin: 5px 10px;
  cursor: pointer;
}